# version
DOCKER_IMAGE_TAG=latest

# docker registry endpoint
DOCKER_REGISTRY=dccn

# configuration for inventory database ui
USER=user
PASSWORD=password
HOST=0.0.0.0
PORT=8000

# configuration for project database access
PROJECT_DATABASE_HOST=db.example.com
PROJECT_DATABASE_PORT=3306
PROJECT_DATABASE_USER=user
PROJECT_DATABASE_PASSWORD=password
PROJECT_DATABASE_NAME=database